
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');





.ocultar{
    display:none !important;
    width: 10%;
    transition: width 1s;
    
    
}

.desactivado{
    color: rgb(233, 233, 233) !important;
    transition: color 0.5s;
    
}

body{
    background-color: #ECEFF1;
    
    
    
}
.principal{
    display: grid;
    grid-template-rows: 1fr auto;
    
}

.nav{
    grid-row: 1;
    grid-column: 1;
    background-color: white;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
    height: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    
    opacity: 0.9;

}

.nav-wrapper{
    display: flex;
    
    align-items: center;
    
    justify-content: flex-end;
    width: 80%;
    grid-column: 2;
    grid-row:1;
    
}

.menu-wrapper{

    display:none;
        
}

.menu{
    width: 100%;
    max-height: 300px;
    
    background-color: rgb(250, 252, 253);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 4px 18px -4px rgba(42,41,46,0.21);
    padding-bottom: 10px;
    padding-top:10px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: max-height 0.55s , padding-bottom 0.5s, padding-top 0.5s,  margin-bottom 0.5s;
    
}

.reducir{
    width: 100%;
    
    background-color: rgb(250, 252, 253);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 4px 18px -4px rgba(42,41,46,0.21);
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top:0px;


    max-height: 0;
    transition: max-height 0.55s , padding-bottom 0.5s, padding-top 0.5s, margin-bottom 0.5s;
    overflow: hidden;
    
}

.input-wrapper{

    grid-column: 1;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
     
}

.search{
    border:1px solid #cccccc;
    width: 80%;
    border-radius: 2px;
    box-shadow: none;
    height: 24px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(107, 115, 119);
}

.search:focus{
    outline: none;
}

.p-ejercicios{
    
    font-family: 'Montserrat', sans-serif;
    margin-left: 14px;
    color: rgb(107, 115, 119);
    font-weight: bold;
    font-size: 14px;
    transition: color 0.5s;
    cursor:pointer;
    
}

.p-ejercicios-movil{
    
    font-family: 'Montserrat', sans-serif;
    margin-left: 12px;
    color: rgb(132, 136, 138);
    font-weight: 500;
    font-size: 12px;
    transition: color 0.5s;
    cursor:pointer;
    
}
.body-ejercicios{
    grid-row: 2;
}


.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper{

    background-color:white;
    width: 60%;
    margin:10px;
    box-shadow: 3px 4px 18px -4px rgba(42,41,46,0.21);
    
    border-radius: 4px;
    padding: 5px;
    display:flex;
    flex-direction: column;
    
    
    
    
    
    transition: padding 0.5s,   margin 0.5s, box-shadow 0.5s;
    
}

.wrapper:hover{
    box-shadow: 3px 4px 18px -4px rgba(42,41,46,0.36);
    
    margin: 20px;
    
    padding: 15px;
    
    transition: padding 0.5s,  margin 0.5s, box-shadow 0.5s;
    
    
}

.wrapper:hover p.titulo{
    color: #ff6340;
    font-size: 28px;
    transition: font-size 0.5s, color 0.5s;
}

.wrapper:hover i.flecha{

    color: #ff6340;
    font-size: 30px;
    transition: font-size 0.5s, color 0.5s;
}

.titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #55666d;
    text-align: center;
    font-weight: bold;
    margin:5px;
    margin-top:20px;
    cursor:pointer;
    transition: font-size 0.5s, color 0.5s;
}

i.flecha{

    color: rgb(107, 115, 119);
    font-size: 20px;
    transition: font-size 0.5s, color 0.5s;
    cursor: pointer;
}

.linea{
    
    width: 50%;
    height: 2px;
    background-color: rgb(166, 172, 175);
    margin-top: 10px;
    margin-bottom: 10px;

}

.linea-pequeña{
    
    width: 25%;
    height: 1px;
    background-color: rgb(146, 153, 156);
    margin-top: 10px;
    margin-bottom: 10px;

}

.linea-menu{
    
    width: 50%;
    height: 1px;
    background-color: rgb(217, 220, 221);
    margin-top: 0px;
    margin-bottom: 0px;

}

.ejercicio-wrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom:20px;
    cursor: pointer;
    

}

.ejercicio-contenido{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.ejercicio-texto{
    color: rgb(107, 115, 119);
    font-family: 'Montserrat', sans-serif;



}



p.ejercicio-resumen{
    color: rgb(142, 151, 155);
    font-family: 'Montserrat', sans-serif;



}




@media screen and (max-width: 50em){

    .nav-wrapper{
        visibility: hidden;
        
        
    }

    .menu-wrapper{
        display: flex;
        
        align-items: center;
        justify-content: flex-end;
        
        width: 80%;
        grid-column: 2;
        grid-row:1;
        
    }

    .menu-boton{
        width:32px;
        height: 32px;
        border: 1px solid rgb(129, 136, 139);
        cursor: pointer;
    border-radius: 4px;
     
        
    }

    .wrapper{

        width: 80%;
    }


    

    
   

}