body{
    margin: 0px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "b1 b1"
    "b2 b3"
    "b4 b4";
    
    width: 100%;
  height: 250px;
  
  

}
.titulo{
    
    
}
.bloque{
    background-color: blanchedalmond;
    grid-area: b1;
}


.nav{
    
    grid-area: b1;
    background-color: aquamarine;
    
    display: grid;
    justify-items: center;
    
}

.b2{
    
    grid-area: b2;
   
}

.b3{
    
    grid-area: b3;
   
}